<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:osgi="http://www.springframework.org/schema/osgi"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">

    <bean id="rpt1100" class="tw.com.citi.catalog.web.report.Rpt1100">
        <property name="scrDao" ref="scrDao"></property>
        <property name="scrFileDao" ref="scrFileDao"></property>
    </bean>

    <osgi:service ref="rpt1100" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1200" class="tw.com.citi.catalog.web.report.Rpt1200">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="fileMoveDetailDao" ref="fileMoveDetailDao"></property>
    </bean>

    <osgi:service ref="rpt1200" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1300" class="tw.com.citi.catalog.web.report.Rpt1300"></bean>

    <osgi:service ref="rpt1300" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1300L" class="tw.com.citi.catalog.web.report.Rpt1300L">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="compileDetailDao" ref="compileDetailDao"></property>
    </bean>

    <osgi:service ref="rpt1300L" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1400" class="tw.com.citi.catalog.web.report.Rpt1400">
        <property name="scrFileDao" ref="scrFileDao"></property>
    </bean>

    <osgi:service ref="rpt1400" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1500" class="tw.com.citi.catalog.web.report.Rpt1500">
        <property name="appPathDao" ref="appPathDao"></property>
        <property name="scrFileDao" ref="scrFileDao"></property>
    </bean>

    <osgi:service ref="rpt1500" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1500D" class="tw.com.citi.catalog.web.report.Rpt1500D">
        <property name="appPathDao" ref="appPathDao"></property>
        <property name="scrFileDao" ref="scrFileDao"></property>
    </bean>

    <osgi:service ref="rpt1500D" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1600" class="tw.com.citi.catalog.web.report.Rpt1600">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="appFileDao" ref="appFileDao"></property>
    </bean>

    <osgi:service ref="rpt1600" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1700" class="tw.com.citi.catalog.web.report.Rpt1700">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="appFileDao" ref="appFileDao"></property>
    </bean>

    <osgi:service ref="rpt1700" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1800" class="tw.com.citi.catalog.web.report.Rpt1800">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="appFileDao" ref="appFileDao"></property>
    </bean>

    <osgi:service ref="rpt1800" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="settings" class="tw.com.citi.catalog.web.Settings"></bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="#{settings.jdbc.driverClassName}"></property>
        <property name="url" value="#{settings.jdbc.url}"></property>
        <property name="username" value="#{settings.jdbc.username}"></property>
        <property name="password" value="#{settings.jdbc.password}"></property>
    </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <osgi:service ref="txManager" interface="org.springframework.transaction.PlatformTransactionManager"></osgi:service>

    <bean id="coordinatorDao" class="tw.com.citi.catalog.web.dao.CoordinatorDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="programmerDao" class="tw.com.citi.catalog.web.dao.ProgrammerDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="appDao" class="tw.com.citi.catalog.web.dao.AppDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="appFileDao" class="tw.com.citi.catalog.web.dao.AppFileDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="appPathDao" class="tw.com.citi.catalog.web.dao.AppPathDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="buildUnitDao" class="tw.com.citi.catalog.web.dao.BuildUnitDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="scrFileDao" class="tw.com.citi.catalog.web.dao.ScrFileDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="scrDao" class="tw.com.citi.catalog.web.dao.ScrDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="registerHistoryDao" class="tw.com.citi.catalog.web.dao.RegisterHistoryDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="functionLogDao" class="tw.com.citi.catalog.web.dao.FunctionLogDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="fileMoveDetailDao" class="tw.com.citi.catalog.web.dao.FileMoveDetailDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="compileDetailDao" class="tw.com.citi.catalog.web.dao.CompileDetailDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <osgi:service ref="functionLogDao" interface="tw.com.citi.catalog.web.dao.IFunctionLogDao"></osgi:service>

    <bean id="coordinatorGrid" class="tw.com.citi.catalog.web.grid.CoordinatorGrid">
        <property name="coordinatorDao" ref="coordinatorDao"></property>
    </bean>

    <bean id="programmerGrid" class="tw.com.citi.catalog.web.grid.ProgrammerGrid">
        <property name="programmerDao" ref="programmerDao"></property>
    </bean>

    <bean id="appGrid" class="tw.com.citi.catalog.web.grid.AppGrid">
        <property name="appDao" ref="appDao"></property>
        <property name="appPathDao" ref="appPathDao"></property>
    </bean>

    <bean id="unitGrid" class="tw.com.citi.catalog.web.grid.UnitGrid">
        <property name="buildUnitDao" ref="buildUnitDao"></property>
    </bean>

    <bean id="checkoutGrid" class="tw.com.citi.catalog.web.grid.CheckoutGrid">
    </bean>
    
    <bean id="scrFileGrid" class="tw.com.citi.catalog.web.grid.ScrFileGrid">
        <property name="scrFileDao" ref="scrFileDao"></property>
        <property name="buildUnitDao" ref="buildUnitDao"></property>
    </bean>
    
        
    <bean id="userDao" class="tw.com.citi.catalog.web.dao.UserDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <osgi:service ref="userDao" interface="tw.com.citi.catalog.web.dao.IUserDao"></osgi:service>

</beans>
