<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:osgi="http://www.springframework.org/schema/osgi"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">

    <osgi:reference id="appDao" interface="tw.com.citi.catalog.dao.IAppDao"></osgi:reference>

    <osgi:reference id="appFileDao" interface="tw.com.citi.catalog.dao.IAppFileDao"></osgi:reference>

    <osgi:reference id="appPathDao" interface="tw.com.citi.catalog.dao.IAppPathDao"></osgi:reference>

    <osgi:reference id="buildUnitDao" interface="tw.com.citi.catalog.dao.IBuildUnitDao"></osgi:reference>

    <osgi:reference id="compileDetailDao" interface="tw.com.citi.catalog.dao.ICompileDetailDao"></osgi:reference>

    <osgi:reference id="coordinatorDao" interface="tw.com.citi.catalog.dao.ICoordinatorDao"></osgi:reference>

    <osgi:reference id="fileMoveDetailDao" interface="tw.com.citi.catalog.dao.IFileMoveDetailDao"></osgi:reference>

    <osgi:reference id="functionLogDao" interface="tw.com.citi.catalog.dao.IFunctionLogDao"></osgi:reference>

    <osgi:reference id="programmerDao" interface="tw.com.citi.catalog.dao.IProgrammerDao"></osgi:reference>

    <osgi:reference id="registerHistoryDao" interface="tw.com.citi.catalog.dao.IRegisterHistoryDao"></osgi:reference>

    <osgi:reference id="scrDao" interface="tw.com.citi.catalog.dao.IScrDao"></osgi:reference>

    <osgi:reference id="scrFileDao" interface="tw.com.citi.catalog.dao.IScrFileDao"></osgi:reference>

    <osgi:reference id="userDao" interface="tw.com.citi.catalog.dao.IUserDao"></osgi:reference>

    <osgi:reference id="txManager" interface="org.springframework.transaction.PlatformTransactionManager"></osgi:reference>

    <bean id="rpt1100" class="tw.com.citi.catalog.web.report.Rpt1100">
        <property name="scrDao" ref="scrDao"></property>
        <property name="scrFileDao" ref="scrFileDao"></property>
    </bean>

    <osgi:service ref="rpt1100" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1200" class="tw.com.citi.catalog.web.report.Rpt1200">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="fileMoveDetailDao" ref="fileMoveDetailDao"></property>
    </bean>

    <osgi:service ref="rpt1200" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1300" class="tw.com.citi.catalog.web.report.Rpt1300"></bean>

    <osgi:service ref="rpt1300" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1300L" class="tw.com.citi.catalog.web.report.Rpt1300L">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="compileDetailDao" ref="compileDetailDao"></property>
    </bean>

    <osgi:service ref="rpt1300L" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1400" class="tw.com.citi.catalog.web.report.Rpt1400">
        <property name="scrFileDao" ref="scrFileDao"></property>
    </bean>

    <osgi:service ref="rpt1400" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1500" class="tw.com.citi.catalog.web.report.Rpt1500">
        <property name="appPathDao" ref="appPathDao"></property>
        <property name="scrFileDao" ref="scrFileDao"></property>
    </bean>

    <osgi:service ref="rpt1500" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1500D" class="tw.com.citi.catalog.web.report.Rpt1500D">
        <property name="appPathDao" ref="appPathDao"></property>
        <property name="scrFileDao" ref="scrFileDao"></property>
    </bean>

    <osgi:service ref="rpt1500D" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1600" class="tw.com.citi.catalog.web.report.Rpt1600">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="appFileDao" ref="appFileDao"></property>
    </bean>

    <osgi:service ref="rpt1600" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1700" class="tw.com.citi.catalog.web.report.Rpt1700">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="appFileDao" ref="appFileDao"></property>
    </bean>

    <osgi:service ref="rpt1700" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="rpt1800" class="tw.com.citi.catalog.web.report.Rpt1800">
        <property name="functionLogDao" ref="functionLogDao"></property>
        <property name="appFileDao" ref="appFileDao"></property>
    </bean>

    <osgi:service ref="rpt1800" interface="tw.com.citi.catalog.web.report.IReport"></osgi:service>

    <bean id="coordinatorGrid" class="tw.com.citi.catalog.web.grid.CoordinatorGrid">
        <property name="coordinatorDao" ref="coordinatorDao"></property>
    </bean>

    <bean id="programmerGrid" class="tw.com.citi.catalog.web.grid.ProgrammerGrid">
        <property name="programmerDao" ref="programmerDao"></property>
    </bean>

    <bean id="appGrid" class="tw.com.citi.catalog.web.grid.AppGrid">
        <property name="appDao" ref="appDao"></property>
        <property name="appPathDao" ref="appPathDao"></property>
    </bean>

    <bean id="unitGrid" class="tw.com.citi.catalog.web.grid.UnitGrid">
        <property name="buildUnitDao" ref="buildUnitDao"></property>
    </bean>

    <bean id="checkoutGrid" class="tw.com.citi.catalog.web.grid.CheckoutGrid">
    </bean>

    <bean id="scrFileGrid" class="tw.com.citi.catalog.web.grid.ScrFileGrid">
        <property name="scrFileDao" ref="scrFileDao"></property>
        <property name="buildUnitDao" ref="buildUnitDao"></property>
    </bean>

</beans>
